<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">Comment to</h1>
    <div class="post-info">
      <p><%= "posted by"%>
        <%= link_to(@post.user.name, "/users/#{@post.user.id}")%></p>
      <p><%= "title: #{@post.title}"%></p>
      <p><%= "detail: #{@post.detail}"%></p>
    </div>
    <%= form_tag("/posts/#{@post.id}/comments/create") do %>
      <h1 class="form-heading">Comment</h1>
      <div class="form">
        <div class="form-body">
          <% @comment.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>message</p>
          <textarea name="message" required="true"></textarea>
          <p></p>
          <input type="submit" value="send">
        <%end%>
      </div>
    </div>
  </div>
</div>