<!DOCTYPE html>
<html>

<head>
    <title>Quo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="header-logo">
            <% if @current_user %>
            <%= link_to("Quo", "/posts") %>
            <% else %>
            <%= link_to("Quo", "/") %>
            <% end %>
        </div>
        <ul class="header-menus">
            <% if @current_user %>
            <li>
                <%= link_to(@current_user.name,"/users/#{@current_user.id}") %>
            </li>
            <li>
                <%= link_to("Posts","/posts")%>
            </li>
            <li>
                <%= link_to("Friends","/friendships/#{@current_user.id}/index")%>
            </li>
            <li>
                <%= link_to("Requests","/friendships/#{@current_user.id}/requested")%>
            </li>
            <li>
                <%= link_to("Create a post","/posts/new")%>
            </li>
            <li>
                <%= link_to("Logout", logout_path)%>
            </li>
            <% else %>
            <li>
                <%= link_to("About us","/about")%>
            </li>
            <li>
                <%= link_to("Sign up",new_user_registration_path)%>
            </li>
            <li>
                <%= link_to("Login","/login")%>
            </li>
            <% end %>
        </ul>
    </header>
    <% if flash[:notice]%>
    <div class="flash">
        <%= flash[:notice]%>
    </div>
    <p class="notice">
        <%= notice %>
    </p>
    <p class="alert">
        <%= alert %>
    </p>
    <% end %>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>